<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tamnaju.dev.domains.mappers.UserMapper">
    <insert id="saveUser"
            parameterType="com.tamnaju.dev.domains.entities.UserEntity">
        INSERT INTO `tamnaju_db`.`users` (`id`,
                                          `email`,
                                          `name`,
                                          `password`,
                                          `birth`,
                                          `isAdmin`,
                                          `registered_at`,
                                          `deleted_at`,
                                          `suspended_at`,
                                          `provider`,
                                          `provider_id`)
        VALUES (#{id},
                #{email},
                #{name},
                #{password},
                #{birth},
                #{isAdmin},
                #{registeredAt},
                #{deletedAt},
                #{suspendedAt},
                #{provider},
                #{providerId})
    </insert>

    <select id="findUserById"
        resultType="com.tamnaju.dev.domains.entities.UserEntity">
        SELECT `id`            AS `id`,
               `email`         AS `email`,
               `name`          AS `name`,
               `password`      AS `password`,
               `birth`         AS `birth`,
               `isAdmin`       AS `isAdmin`,
               `registered_at` AS `registeredAt`,
               `deleted_at`    AS `deletedAt`,
               `suspended_at`  AS `suspendedAt`
               `provider`      AS `provider`
               `provider_id`   AS `providerId`
        FROM `tamnaju_db`.`users`
        WHERE BINARY `id` = #{id}
        LIMIT 1
    </select>

    <select id="findUserByProviderId"
        resultType="com.tamnaju.dev.domains.entities.UserEntity">
        SELECT `id`            AS `id`,
               `email`         AS `email`,
               `name`          AS `name`,
               `password`      AS `password`,
               `birth`         AS `birth`,
               `isAdmin`       AS `isAdmin`,
               `registered_at` AS `registeredAt`,
               `deleted_at`    AS `deletedAt`,
               `suspended_at`  AS `suspendedAt`
               `provider`      AS `provider`
               `provider_id`   AS `providerId`
        FROM `tamnaju_db`.`users`
        WHERE BINARY `provider_id` = #{providerId}
        LIMIT 1
    </select>
</mapper>
