#joinForm {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#joinForm > label {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-start;
}

#joinForm > label > .text {
    width: 5rem;
}

#joinForm > label > input {
    width: 10rem;
}