<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>탐나주 - 공지사항</title>
    <link rel="stylesheet" th:href="@{/stylesheets/common.css}">
    <link rel="stylesheet" th:href="@{/stylesheets/notice/list.css}">
    <script defer th:src="@{/scripts/user/join.js}"></script>
</head>

<body>
    <th:block th:replace="~{fragments/header :: header}"></th:block>
    <main class="spring">
        list
    </main>
    <th:block th:replace="~{fragments/footer :: footer}"></th:block>
</body>

</html>