<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>탐나주 - 회원가입</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/user/join.css}">
    <script defer th:src="@{/js/user/join.js}"></script>
</head>

<body>
    <th:block th:replace="~{fragments/header :: header}"></th:block>
    <main class="spring">
        <form id="joinForm">
            <label>
                <span class="text">Email :</span>
                <input name="email" type="email" placeholder="email을 입력해주세요.">
            </label>
            <label>
                <span class="text">이름 :</span>
                <input name="name" type="text" placeholder="이름을 입력해주세요.">
            </label>
            <label>
                <span class="text">별명 :</span>
                <input name="nickname" type="text" placeholder="별명을 입력해주세요.">
            </label>
            <label>
                <span class="text">비밀번호 :</span>
                <input name="password" type="password" placeholder="비밀번호를 입력해주세요">
            </label>
            <label>
                <span class="text">생년월일 :</span>
                <input name="birthStr" type="date">
            </label>
            <label>
                <input type="submit" value="회원 가입">
            </label>
        </form>
    </main>
    <th:block th:replace="~{fragments/footer :: footer}"></th:block>
</body>

</html>