<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>탐나주 - 로그인</title>
    <link rel="stylesheet" th:href="@{/stylesheets/common.css}">
    <link rel="stylesheet" th:href="@{/user/stylesheets/login.css}">
    <script defer th:src="@{/user/scripts/login.js}"></script>
</head>

<body>
    <th:block th:replace="~{fragments/header :: header}"></th:block>
    <main class="spring">
        <form id="loginForm">
            <label>
                <span class="text">Email :</span>
                <input name="email" type="email" placeholder="email을 입력해주세요.">
            </label>
            <label>
                <span class="text">비밀번호 :</span>
                <input name="password" type="password" placeholder="비밀번호를 입력해주세요">
            </label>
            <label>
                <input type="submit" value="로그인">
            </label>
        </form>
        <div class="container unauthenticated">
            With GitHub: <a href="/user/login/oauth2/code/kakao">click here</a>
        </div>
    </main>
    <th:block th:replace="~{fragments/footer :: footer}"></th:block>
</body>

</html>
