<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<!-- common -->
<!-- Notification,Loading Modal -->
<th:block th:fragment="common">
    <div id="dialog">
        <div class="modal" rel="modal">
            <div class="title" rel="title">제목</div>
            <div class="content" rel="content">내용</div>
            <div class="button-container" rel="buttonContainer">
                <div class="button">버튼1</div>
                <div class="button">버튼2</div>
            </div>
        </div>
    </div>
    <!-- Loading -->
    <div id="loading">
        <img alt="" class="icon" th:src="@{/images/loading.png}">
        <span class="text">잠시만 기다려 주세요</span>
    </div>
</th:block>

<!-- Header -->
<header id="header" th:fragment="header">
    <div class="header-container">
        <div class="logo"><img alt="logo" th:src="@{/images/tamnaju-logo.png}"></div>
        <div class="menu-bar">
            <div class="menu"><a href="#">공지사항</a></div>
            <div class="menu"><a href="#">로그인</a></div>
        </div>
    </div>
</header>

<!-- Footer -->
<footer id="footer" th:fragment="footer">
    <div class="content-container">
        <div>(주)탐나주</div>


        &copy; Copyright GC COMPANY Corp. All rights reserved.
    </div>
</footer>

</html>