<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>탐나주</title>
    <link rel="stylesheet" href="/stylesheets/common.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>

<body>
    <th:block th:replace="~{fragment.html :: common}"></th:block>
    <th:block th:replace="~{fragment.html :: header}"></th:block>
    <main id="main">
        <!-- section1 : 메인 이미지와 사용자가 주로 이용하는 기능에 대한 바로가기 제공 -->
        <div class="main-img-container">
            <img class="main-image" alt="" th:src="@{/images/jejuMain.jpeg}">
            <div class="text-container">
                <img class="logo-img" alt="" th:src="@{/images/tamnaju-logo-text.png}">
            </div>
            <div class="category-container">
                <div class="category">
                    <div class="list">카테고리1</div>
                    <div class="list">카테고리2</div>
                    <div class="list">카테고리3</div>
                    <div class="list">카테고리4</div>
                </div>
            </div>
        </div>
        <div class="main-container">
            <!-- section2 : 날씨 API를 사용해 제주의 실시간 날씨 제공 -->
            <div class="section2">
                날씨정보
            </div>
            <!-- section3 : 비로그인 상태의 사용자에게 로그인 or 회원가입을 유도하는 영역 -->
            <div class="section3">
                로그인 유도 영역
            </div>
            <!-- section4 -->
            <!-- section5 -->
        </div>
    </main>
    <th:block th:replace="~{fragment.html :: footer}"></th:block>
</body>

</html>