@charset "UTF-8";

body {
    font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    margin: 0;
    height: 100vh;
}


#map {
    flex: 1;
}

#cover {top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(0.25rem);
    background-color: rgba(0,0,0,50%);
    opacity: 0;
    pointer-events: none;
    position: fixed;
    transition-duration: 375ms;
    transition-property: opacity;
    transition-timing-function: linear;
    z-index: 1;
}


#cover.visible {
    opacity: 1;
    pointer-events: all;
}

#info {
    top: 0;
    left: -1rem;
    width: 22.5rem;
    height: 100%;
    background-color: rgba(255,255,255, 50%);
    opacity: 0;
    pointer-events: none;
    position: fixed;
    transition-duration: 250ms;
    transition-property: left, opacity;
    transition-timing-function: ease;
    z-index: 2;

    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#info:hover {
    background-color: rgba(255,255,255, 90%);
}


#info.visible {
    left: 0;
    opacity: 1;
    pointer-events: all;
}

#info > .title-container {
    border-bottom: 0.0625rem solid rgb(220,220,220);
    padding: 0.5rem 1rem;

    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#info > .title-container > .title {
    font-size: 1.25rem;
    font-weight: 500;
    margin-block: unset;
    margin-inline: unset;
}

#info > .title-container > .close {
    width: 1.5rem;
    cursor: pointer;
    padding: 0.5rem;
}
#info > .data-container {
    flex: 1;
    list-style-type: none;
    overflow: hidden auto;
    margin-block: unset;
    margin-inside: unset;
    padding-inline: unset;
    padding: 1rem;
}